In [1]:
import numpy as np 
import pandas as pd
import plotly.offline as pyo 
import plotly.graph_objs as go

## Scatter Plot

In [2]:
np.random.seed(42)

random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

data = [go.Scatter(x=random_x, y=random_y, mode='markers')] #needs to be a list

layout = go.Layout(title='Hello Scatter Plot',
                   xaxis={'title': 'X AXIS'},   #need to pass it as a dictionary
                   yaxis=dict(title='Y AXIS'),
                   hovermode='closest')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='scatter.html')

'scatter.html'

In [3]:
np.random.seed(42)

random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

data = [go.Scatter(x=random_x,
                   y=random_y,
                   mode='markers',
                   marker=dict(
                       size=12,
                       color='rgb(51,204,153)',
                       symbol='pentagon',
                       line=dict(
                           width=2
                       )
                   ))] #needs to be a list

layout = go.Layout(title='Hello Scatter Plot',
                   xaxis={'title': 'X AXIS'},   #need to pass it as a dictionary
                   yaxis=dict(title='Y AXIS'),
                   hovermode='closest')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='scatter.html')

'scatter.html'

## Line Chart

In [4]:
np.random.seed(42)

x_values = np.linspace(0,1,100)
Y_values = np.random.randn(100)

# Scatter Plot
trace0 = go.Scatter(x=x_values, y=Y_values+5, mode='markers',
                   name='markers')

# Line Chart
trace1 = go.Scatter(x=x_values, y=Y_values, mode='lines',
                   name='mylines')

# Line + Charts
trace2 = go.Scatter(x=x_values, y=Y_values-5, mode='lines+markers',
                   name='trace2')

data = [trace0, trace1, trace2]

layout = go.Layout(title='Line Charts')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [5]:
df = pd.read_csv(r'SourceData\nst-est2017-alldata.csv')

df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.000000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.559570,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.304640,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323
3,20.0,3,0,0.0,South Region,114555744.0,114563024.0,114869241.0,116060993.0,117291728.0,...,3.788037,3.592695,2.900528,5.544289,5.831747,5.362083,6.317310,7.336162,7.113818,6.304010
4,20.0,4,0,0.0,West Region,71945553.0,71946937.0,72107471.0,72799127.0,73522988.0,...,1.613450,2.099001,1.475519,2.798796,3.521423,3.396627,4.163576,5.067452,5.488965,4.737979

In [6]:
df2 = df[df['DIVISION']=='1']

df2.set_index('NAME', inplace=True)

list_of_pop_col = [col for col in df2.columns if col.startswith('POP')]

df2 = df2[list_of_pop_col]

data = [go.Scatter(x=df2.columns,
                   y=df2.loc[name],
                   mode='lines',
                   name=name) for name in df2.index]

pyo.plot(data)

'temp-plot.html'

In [7]:
df = pd.read_csv(r'Data\2010YumaAZ.csv')

df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [8]:
days = ['TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY','MONDAY']

data = []
for day in days:
    trace = go.Scatter(x=df['LST_TIME'],
                       y=df[df['DAY']==day]['T_HR_AVG'],
                       mode='lines',
                       name=day)
    
    data.append(trace)

layout = go.Layout(title='Daily temp avgs')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

## Bar Charts

In [9]:
df = pd.read_csv(r'Data\2018WinterOlympics.csv')

df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [10]:
data = [go.Bar(x=df['NOC'],
               y=df['Total'])]

layout = go.Layout(title='Medals')
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [11]:
trace1 = go.Bar(x=df['NOC'],
               y=df['Gold'],
               marker=dict(
                color='#FFD700'
               ))

trace2 = go.Bar(x=df['NOC'],
               y=df['Silver'],
               marker=dict(
                color='#9EA0A1'
               ))

trace3 = go.Bar(x=df['NOC'],
               y=df['Bronze'],
               marker=dict(
                color='#CD7F32'
               ))

data = [trace1, trace2, trace3]

layout = go.Layout(title='Medals')
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [18]:
df = pd.read_csv(r'Data\mocksurvey.csv', index_col=0)

trace1 = go.Bar(x=df.index,
                y=df['Strongly Agree'],
                name='Strongly Agree')

trace2 = go.Bar(x=df.index,
               y=df['Somewhat Agree'],
               name='Somewhat Agree')

trace3 = go.Bar(x=df.index,
               y=df['Neutral'],
               name='Neutral')

trace4 = go.Bar(x=df.index,
               y=df['Somewhat Disagree'],
               name='Somewhat Disagree')

trace5 = go.Bar(x=df.index,
               y=df['Strongly Disagree'],
               name='Strongly Disagree')

data = [trace1, trace2, trace3, trace4, trace5]

layout = go.Layout(title='Survey', barmode='stack')
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [22]:
data = [go.Bar(y=df.index, x=df[response], orientation='h', name=response) for response in df.columns]

layout = go.Layout(title='Survey', barmode='stack')
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

## Bubble Chart

In [23]:
df = pd.read_csv(r'Data\mpg.csv')

df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [29]:
data = [go.Scatter(x=df['horsepower'],
                   y=df['mpg'],
                   text=df['name'],
                   mode='markers',
                   marker=dict(size=df['weight']/1000,
                               color=df['cylinders'],
                               showscale=True))]

layout = go.Layout(title='Bubble Chart')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [34]:
data = [go.Scatter(y=df['acceleration'],
                   x=df['displacement'],
                   mode='markers',
                   marker=dict(
                        size=df['weight']/400,
                        color=df['cylinders'],
                        showscale=True
                   ),
                   text=df['name']
                   )]
layout = go.Layout(title='MPG',
                   yaxis=dict(title='Acceleration'),
                   xaxis=dict(title='Displacement'),
                   hovermode='closest')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

## Box Plot

In [37]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y)]
pyo.plot(data)

'temp-plot.html'

In [ ]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints='all')]
pyo.plot(data)

In [42]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints='all', jitter=0.3, pointpos=0)]
pyo.plot(data)

'temp-plot.html'

In [43]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints='outliers')]
pyo.plot(data)

'temp-plot.html'

In [44]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

data = [go.Box(y=snodgrass, name='Snodgrass'),
        go.Box(y=twain, name='Twain')]
pyo.plot(data)

'temp-plot.html'

In [45]:
df = pd.read_csv(r'Data\abalone.csv')

df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [46]:
data = [go.Box(y=np.random.choice(df['rings'],10,replace=False)) for x in range(2)]

layout = go.Layout(title='Box Plot')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

## Histogram

In [47]:
df = pd.read_csv(r'Data\mpg.csv')

data = [go.Histogram(x=df['mpg'])]

pyo.plot(data)

'temp-plot.html'

In [50]:
data = [go.Histogram(x=df['mpg'], xbins=dict(start=0, end=50, size=10))]

pyo.plot(data)

'temp-plot.html'

In [51]:
df = pd.read_csv(r'Data\abalone.csv')

data = [go.Histogram(x=df['length'], xbins=dict(start=0, end=1, size=0.02))]

pyo.plot(data)

'temp-plot.html'

## Distribution plot

In [53]:
import plotly.figure_factory as ff

x = np.random.randn(1000)

fig = ff.create_distplot(hist_data=[x], group_labels=['distplot'])

pyo.plot(fig)

'temp-plot.html'

In [57]:
a = np.random.randn(1000)-2
b = np.random.randn(1000)
c = np.random.randn(1000)+2
d = np.random.randn(1000)+4


fig = ff.create_distplot(hist_data=[a,b,c,d], group_labels=['a','b','c','d'],
                         bin_size=[.2,.1,2,.4])

pyo.plot(fig)

'temp-plot.html'

In [58]:
df = pd.read_csv(r'Data\iris.csv')

df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [69]:
data = dict()
for i in range(len(df['class'].unique())):
    data[i] = df[df['class']==df['class'].unique()[i]]['petal_length']

hist_data = [list(data[i]) for i in range(len(df['class'].unique()))]

grouped_labels = list(df['class'].unique())

fig = ff.create_distplot(hist_data=hist_data, group_labels=grouped_labels)

pyo.plot(fig)

'temp-plot.html'

## Heatmaps

In [70]:
df = pd.read_csv('Data/flights.csv')

df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [74]:
data = go.Heatmap(x=df['year'],
                  y=df['month'],
                  z=df['passengers'],
                #   zmin=0,
                #   zmax=1000,
                  colorscale='Jet')

fig = go.Figure(data=data)

pyo.plot(fig)

'temp-plot.html'

In [80]:
from plotly import subplots

df1 = pd.read_csv('Data/2010SitkaAK.csv')
df2 = pd.read_csv('Data/2010SantaBarbaraCA.csv')
df3 = pd.read_csv('Data/2010YumaAZ.csv')

df1.columns

trace0 = go.Heatmap(x=df1['DAY'],
                    y=df1['LST_TIME'],
                    z=df1['T_HR_AVG'],
                    colorscale='Jet')

trace1 = go.Heatmap(x=df2['DAY'],
                    y=df2['LST_TIME'],
                    z=df2['T_HR_AVG'],
                    colorscale='Jet')

trace2 = go.Heatmap(x=df3['DAY'],
                    y=df3['LST_TIME'],
                    z=df3['T_HR_AVG'],
                    colorscale='Jet')



fig = subplots.make_subplots(1,3,shared_yaxes=True,
                             subplot_titles=['1','2','3'])

fig.append_trace(trace0, 1 , 1)
fig.append_trace(trace1, 1 , 2)
fig.append_trace(trace2, 1 , 3)

fig['layout'].update(
    title='Hourly Temperatures'
)

pyo.plot(fig)

'temp-plot.html'